// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
$mon: "Montserrat", sans-serif;

// COLORS
$primary: #d03838;
$watch-title-border: #8abb2a;
$learn-title-border: #24bfff;
$explore-title-border: #d03838;
$footer-bg: #292f35;
$text: #94979a;
$black: #000000;
$white: #ffffff;

// RESET
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}

// NAVBAR
.navbar {
  position: relative;
  background: transparent;

  .navbar-brand img {
    width: 300px;
  }

  .spacer {
    height: 40px;
    width: 2px;
    background-color: #dfe0e1;
    margin: auto 35px;
  }

  .navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }

    img {
      width: 20px;
    }
  }

  .navbar-items {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #1e55a0;
    top: -200%;
    left: 0;
    z-index: 998;
    transition: all 0.3s ease;

    .container {
      width: 70%;
      padding: 0 5px;
    }

    i {
      margin: 30px 0 20px 0;
      color: $white;
      cursor: pointer;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 20px 0 10px 0;

      li a {
        text-decoration: none;
        font-size: 30px;
        margin: 25px 0;
        font-weight: 700;
        color: $white;
        font-family: $mon;
        cursor: pointer;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $white;
          bottom: 3px;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }

        &:hover {
          &::after {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
        }
      }
    }

    img {
      margin-top: 40px;
      width: 50%;
    }
  }
}

// BODY WRAPPER
.body__wrapper {
  background: url("../assets/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;

  //HEADER
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
      url("../assets/header-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;

    .header-logo {
      width: 50%;
      margin: 30px auto 10px auto;
      max-height: 60%;
    }

    h1 {
      color: $white;
      text-transform: uppercase;
      font-weight: 900;
      font-family: $mon;
      font-size: 70px;
      margin: 15px auto 10px auto;
      line-height: 68px;
    }

    .header-peoples {
      width: 100%;
      margin-top: -45px;
      margin-left: -25px;
      max-height: 1200px;
    }

    .header-content {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);

      h3 {
        color: $white;
        font-family: $mon;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
      }

      button {
        padding: 10px 20px;
        border-radius: 50px;
        font-family: $mon;
        font-size: 25px;
        color: $primary;
        font-weight: 700;
        background: $white;
        border: none;
        margin: 7px auto;

        &:hover {
          background: $primary;
          color: $white;
          transition: all 0.3s ease;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  //WATCH
  .watch {
    padding: 50px 0;
    h1 {
      color: $white;
      text-transform: uppercase;
      font-size: 56px;
      margin: 20px auto;
      font-weight: 700;
      font-family: $mon;
    }

    .video-section {
      margin: 30px 0;
      iframe {
        width: 100%;
        height: 200px;
        border-radius: 7px;
      }

      .spacer {
        width: 100%;
        height: 2px;
        background: $primary;
        margin: 10px auto;
      }

      h4 {
        color: $white;
        font-family: $mon;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  //ALL SECTIONS
  //WATCH
  .watch-section,
  .learn-section,
  .explore-section {
    margin: 30px auto;

    .content {
      h1 {
        font-family: $mon;
        font-weight: 800;
        font-size: 64px;
        text-transform: uppercase;
        margin: 10px 0;
        border-bottom-width: 10px;
        width: 20%;
        color: $white;
        padding-bottom: 10px;
      }
      p {
        color: $white;
        font-weight: 500;
        font-size: 18px;
        width: 90%;
        margin: 20px 0 10px 0;
        font-family: $mon;

        span {
          font-weight: 700;
          font-size: 30px;
          line-height: 30px;
        }
      }
    }

    .img img {
      width: 90%;
      margin: auto;
    }
    #watchTitle {
      border-bottom: 10px solid $watch-title-border;
    }
    #learnTitle {
      border-bottom: 10px solid $learn-title-border;
    }
    #exploreTitle {
      border-bottom: 10px solid $explore-title-border;
    }
  }

  .section-bottom img {
    width: 100%;
  }
}

// STICKY CONTENT
.sticky-contact {
  position: fixed;
  left: 0;
  top: 75%;
  width: 110px;
  z-index: 1000;
  background: transparent linear-gradient(180deg, #24bfff 0%, #1e55a0 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
  border-left: #d03838 10px solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 7px 10px;
  box-sizing: content-box;
  font-family: $mon;

  .top h6 {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
    border-bottom: #fff 1px solid;
    padding: 5px 0px;

    span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .bottom h6 {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0;
    color: #ffffff;
    padding-top: 1px;
  }
}

// FOOTER
.footer {
  height: auto;
  padding: 40px 0;
  background-color: $footer-bg;
  color: $white;

  .footer-logo {
    padding: 0px;
    img {
      width: 100%;
    }

    .social-icons a {
      text-decoration: none;
      color: $white;
      i {
        margin: 20px 10px;

        &:first-child {
          margin-left: 0px;
        }
      }
    }

    p {
      color: $text;
      font-family: $mon;
      font-size: 400;
      font-size: 14px;
    }
  }

  .footer-contact {
    padding: 0 20px;
    .more {
      h5 {
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 10px;
        font-family: $mon;
      }

      ul {
        list-style: none;
        margin: 10px 0;
        padding: 0;

        li {
          margin: 10px 0;
          a {
            font-family: $mon;
            color: #d4d5d7;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }
    }

    .contact {
      margin-top: 20px;

      h5 {
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 10px;
        font-family: $mon;
      }

      a {
        text-decoration: none;
        color: #d4d5d7;
        font-family: $mon;
        margin: 10px 0;
        font-size: 14px;

        i {
          margin-right: 5px;
        }
      }
    }
  }

  .footer-form {
    margin: 0;
    padding: 0;

    .form-group {
      margin: 10px 0;
    }

    h5 {
      font-family: $mon;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    label {
      font-family: $mon;
      text-transform: capitalize;
      font-size: 14px;
      margin: 5px 0;
    }

    input {
      border: none;
      cursor: auto;

      &:hover {
        transform: scale(1.005);
        transition: transform 0.3s ease;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .btn-submit {
      padding: 8px 35px;
      border-radius: 50px;
      background-color: $primary;
      color: $white;
      font-weight: 500;
      font-family: $mon;
      text-transform: capitalize;
      border: none;
      margin: 10px 0;
      font-size: 14px;
    }
  }
}

// RESPONSIVE
@media (max-width: 1050px) {
  .body__wrapper {
    background-position-y: 0;
  }
}

@media (max-width: 991px) {
  .body__wrapper {
    .header {
      h1 {
        font-size: 60px;
        line-height: 58px;
      }
      .header-content {
        top: 85%;
        h3 {
          font-size: 32px;
        }
        button {
          font-size: 20px;
        }
      }
    }

    .watch {
      padding: 30px 0;

      h1 {
        font-size: 40px;
      }

      .video-section {
        margin: 20px auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .spacer {
      margin: auto 30px;
      height: 30px;
    }

    .navbar-brand img {
      width: 250px;
    }

    .navbar-items {
      img {
        width: 80%;
      }
    }
  }
  .body__wrapper {
    .header {
      .header-logo {
        width: 60%;
      }
      h1 {
        font-size: 40px;
        line-height: 36px;
      }
      .header-peoples {
        margin-top: -25px;
        margin-left: 0px;
      }
      .header-content {
        top: 90%;
        top: 85%;
        h3 {
          font-size: 22px;
        }
        button {
          font-size: 16px;
          padding: 8px 20px;
          margin: auto;
        }
      }
    }
    .watch {
      .video-section {
        margin: 15px auto;
      }
    }
    .explore-section,
    .learn-section,
    .watch-section {
      margin: 60px auto;

      &:first-child {
        margin-top: 30px;
      }

      .content {
        h1 {
          font-size: 50px;
          padding-bottom: 7px;
          width: 20%;
        }
        p {
          width: 100%;
        }
      }
      .img img {
        width: 70%;
        margin: 20px auto;
      }
      #watch-img {
        margin: 0px;
      }
      #learn-img {
        margin: 0px;
      }
    }
  }
  .sticky-contact {
    display: none;
  }
  .footer {
    padding: 20px 10px;

    .footer-contact,
    .footer-form,
    .footer-logo {
      margin: 5px auto;
      padding: 0;
    }
  }
}

@media (max-width: 501px) {
  .navbar {
    .spacer {
      margin: auto 15px;
      height: 25px;
    }

    .navbar-toggler {
      img {
        width: 17px;
      }
    }

    .navbar-brand img {
      width: 200px;
    }

    .navbar-items {
      i {
        margin: 20px 0;
      }
      ul li a {
        font-size: 24px;
      }

      img {
        width: 100%;
      }
    }
  }
  .body__wrapper {
    .header {
      height: 450px;

      .header-logo {
        width: 70%;
      }
      h1 {
        font-size: 40px;
        line-height: 40px;
      }
      .header-peoples {
        display: none;
      }
      .header-content {
        top: 83%;

        h3 {
          font-size: 30px;
          white-space: nowrap;
          margin-bottom: 15px;
        }
      }
    }
    .watch {
      padding: 20px 0;

      h1 {
        font-size: 35px;
      }
      .video-section {
        margin: 10px auto;
      }
    }

    .explore-section,
    .watch-section,
    .learn-section {
      .content {
        h1 {
          font-size: 45px;
          width: 30%;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .navbar {
    .spacer {
      margin: auto 10px;
      height: 20px;
    }

    .navbar-brand img {
      width: 180px;
    }
  }
  .body__wrapper {
    .header {
      height: 350px;
      h1 {
        font-size: 32px;
        line-height: 32px;
        margin-top: 7px;
      }
      .header-peoples {
        margin: 20px auto 0 auto;
        width: 100%;
      }
      .header-content {
        top: 80%;
        h3 {
          font-size: 18px;
          width: 100%;
          white-space: nowrap;
          margin: 10px 0;
        }
        button {
          font-size: 14px;
          padding: 10px 18px;
          margin: 0;
        }
      }
    }

    .watch {
      padding: 15px 0;

      h1 {
        font-size: 32px;
      }
    }

    .explore-section,
    .learn-section,
    .watch-section {
      margin: 40px auto;
    }
  }
}
