@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.navbar {
  position: relative;
  background: transparent;
}

.navbar .navbar-brand img {
  width: 300px;
}

.navbar .spacer {
  height: 40px;
  width: 2px;
  background-color: #dfe0e1;
  margin: auto 35px;
}

.navbar .navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-toggler img {
  width: 20px;
}

.navbar .navbar-items {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #1e55a0;
  top: -200%;
  left: 0;
  z-index: 998;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .navbar-items .container {
  width: 70%;
  padding: 0 5px;
}

.navbar .navbar-items i {
  margin: 30px 0 20px 0;
  color: #ffffff;
  cursor: pointer;
}

.navbar .navbar-items ul {
  padding: 0;
  list-style: none;
  margin: 20px 0 10px 0;
}

.navbar .navbar-items ul li a {
  text-decoration: none;
  font-size: 30px;
  margin: 25px 0;
  font-weight: 700;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  position: relative;
}

.navbar .navbar-items ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  bottom: 3px;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.navbar .navbar-items ul li a:hover::after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.navbar .navbar-items img {
  margin-top: 40px;
  width: 50%;
}

.body__wrapper {
  background: url("../assets/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
}

.body__wrapper .header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6))), url("../assets/header-background.png");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../assets/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative;
}

.body__wrapper .header .header-logo {
  width: 50%;
  margin: 30px auto 10px auto;
  max-height: 60%;
}

.body__wrapper .header h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  margin: 15px auto 10px auto;
  line-height: 68px;
}

.body__wrapper .header .header-peoples {
  width: 100%;
  margin-top: -45px;
  margin-left: -25px;
  max-height: 1200px;
}

.body__wrapper .header .header-content {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.body__wrapper .header .header-content h3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.body__wrapper .header .header-content button {
  padding: 10px 20px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #d03838;
  font-weight: 700;
  background: #ffffff;
  border: none;
  margin: 7px auto;
}

.body__wrapper .header .header-content button:hover {
  background: #d03838;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.body__wrapper .header .header-content button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.body__wrapper .watch {
  padding: 50px 0;
}

.body__wrapper .watch h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 56px;
  margin: 20px auto;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.body__wrapper .watch .video-section {
  margin: 30px 0;
}

.body__wrapper .watch .video-section iframe {
  width: 100%;
  height: 200px;
  border-radius: 7px;
}

.body__wrapper .watch .video-section .spacer {
  width: 100%;
  height: 2px;
  background: #d03838;
  margin: 10px auto;
}

.body__wrapper .watch .video-section h4 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.body__wrapper .watch-section,
.body__wrapper .learn-section,
.body__wrapper .explore-section {
  margin: 30px auto;
}

.body__wrapper .watch-section .content h1,
.body__wrapper .learn-section .content h1,
.body__wrapper .explore-section .content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  margin: 10px 0;
  border-bottom-width: 10px;
  width: 20%;
  color: #ffffff;
  padding-bottom: 10px;
}

.body__wrapper .watch-section .content p,
.body__wrapper .learn-section .content p,
.body__wrapper .explore-section .content p {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  width: 90%;
  margin: 20px 0 10px 0;
  font-family: "Montserrat", sans-serif;
}

.body__wrapper .watch-section .content p span,
.body__wrapper .learn-section .content p span,
.body__wrapper .explore-section .content p span {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.body__wrapper .watch-section .img img,
.body__wrapper .learn-section .img img,
.body__wrapper .explore-section .img img {
  width: 90%;
  margin: auto;
}

.body__wrapper .watch-section #watchTitle,
.body__wrapper .learn-section #watchTitle,
.body__wrapper .explore-section #watchTitle {
  border-bottom: 10px solid #8abb2a;
}

.body__wrapper .watch-section #learnTitle,
.body__wrapper .learn-section #learnTitle,
.body__wrapper .explore-section #learnTitle {
  border-bottom: 10px solid #24bfff;
}

.body__wrapper .watch-section #exploreTitle,
.body__wrapper .learn-section #exploreTitle,
.body__wrapper .explore-section #exploreTitle {
  border-bottom: 10px solid #d03838;
}

.body__wrapper .section-bottom img {
  width: 100%;
}

.sticky-contact {
  position: fixed;
  left: 0;
  top: 75%;
  width: 110px;
  z-index: 1000;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#24bfff), to(#1e55a0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #24bfff 0%, #1e55a0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
  border-left: #d03838 10px solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 7px 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
}

.sticky-contact .top h6 {
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  border-bottom: #fff 1px solid;
  padding: 5px 0px;
}

.sticky-contact .top h6 span {
  font-weight: 700;
  text-transform: uppercase;
}

.sticky-contact .bottom h6 {
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0;
  color: #ffffff;
  padding-top: 1px;
}

.footer {
  height: auto;
  padding: 40px 0;
  background-color: #292f35;
  color: #ffffff;
}

.footer .footer-logo {
  padding: 0px;
}

.footer .footer-logo img {
  width: 100%;
}

.footer .footer-logo .social-icons a {
  text-decoration: none;
  color: #ffffff;
}

.footer .footer-logo .social-icons a i {
  margin: 20px 10px;
}

.footer .footer-logo .social-icons a i:first-child {
  margin-left: 0px;
}

.footer .footer-logo p {
  color: #94979a;
  font-family: "Montserrat", sans-serif;
  font-size: 400;
  font-size: 14px;
}

.footer .footer-contact {
  padding: 0 20px;
}

.footer .footer-contact .more h5 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.footer .footer-contact .more ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.footer .footer-contact .more ul li {
  margin: 10px 0;
}

.footer .footer-contact .more ul li a {
  font-family: "Montserrat", sans-serif;
  color: #d4d5d7;
  font-size: 14px;
  text-decoration: none;
}

.footer .footer-contact .contact {
  margin-top: 20px;
}

.footer .footer-contact .contact h5 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.footer .footer-contact .contact a {
  text-decoration: none;
  color: #d4d5d7;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  font-size: 14px;
}

.footer .footer-contact .contact a i {
  margin-right: 5px;
}

.footer .footer-form {
  margin: 0;
  padding: 0;
}

.footer .footer-form .form-group {
  margin: 10px 0;
}

.footer .footer-form h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.footer .footer-form label {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  margin: 5px 0;
}

.footer .footer-form input {
  border: none;
  cursor: auto;
}

.footer .footer-form input:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.footer .footer-form input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer .footer-form .btn-submit {
  padding: 8px 35px;
  border-radius: 50px;
  background-color: #d03838;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  border: none;
  margin: 10px 0;
  font-size: 14px;
}

@media (max-width: 1050px) {
  .body__wrapper {
    background-position-y: 0;
  }
}

@media (max-width: 991px) {
  .body__wrapper .header h1 {
    font-size: 60px;
    line-height: 58px;
  }
  .body__wrapper .header .header-content {
    top: 85%;
  }
  .body__wrapper .header .header-content h3 {
    font-size: 32px;
  }
  .body__wrapper .header .header-content button {
    font-size: 20px;
  }
  .body__wrapper .watch {
    padding: 30px 0;
  }
  .body__wrapper .watch h1 {
    font-size: 40px;
  }
  .body__wrapper .watch .video-section {
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .navbar .spacer {
    margin: auto 30px;
    height: 30px;
  }
  .navbar .navbar-brand img {
    width: 250px;
  }
  .navbar .navbar-items img {
    width: 80%;
  }
  .body__wrapper .header .header-logo {
    width: 60%;
  }
  .body__wrapper .header h1 {
    font-size: 40px;
    line-height: 36px;
  }
  .body__wrapper .header .header-peoples {
    margin-top: -25px;
    margin-left: 0px;
  }
  .body__wrapper .header .header-content {
    top: 90%;
    top: 85%;
  }
  .body__wrapper .header .header-content h3 {
    font-size: 22px;
  }
  .body__wrapper .header .header-content button {
    font-size: 16px;
    padding: 8px 20px;
    margin: auto;
  }
  .body__wrapper .watch .video-section {
    margin: 15px auto;
  }
  .body__wrapper .explore-section,
  .body__wrapper .learn-section,
  .body__wrapper .watch-section {
    margin: 60px auto;
  }
  .body__wrapper .explore-section:first-child,
  .body__wrapper .learn-section:first-child,
  .body__wrapper .watch-section:first-child {
    margin-top: 30px;
  }
  .body__wrapper .explore-section .content h1,
  .body__wrapper .learn-section .content h1,
  .body__wrapper .watch-section .content h1 {
    font-size: 50px;
    padding-bottom: 7px;
    width: 20%;
  }
  .body__wrapper .explore-section .content p,
  .body__wrapper .learn-section .content p,
  .body__wrapper .watch-section .content p {
    width: 100%;
  }
  .body__wrapper .explore-section .img img,
  .body__wrapper .learn-section .img img,
  .body__wrapper .watch-section .img img {
    width: 70%;
    margin: 20px auto;
  }
  .body__wrapper .explore-section #watch-img,
  .body__wrapper .learn-section #watch-img,
  .body__wrapper .watch-section #watch-img {
    margin: 0px;
  }
  .body__wrapper .explore-section #learn-img,
  .body__wrapper .learn-section #learn-img,
  .body__wrapper .watch-section #learn-img {
    margin: 0px;
  }
  .sticky-contact {
    display: none;
  }
  .footer {
    padding: 20px 10px;
  }
  .footer .footer-contact,
  .footer .footer-form,
  .footer .footer-logo {
    margin: 5px auto;
    padding: 0;
  }
}

@media (max-width: 501px) {
  .navbar .spacer {
    margin: auto 15px;
    height: 25px;
  }
  .navbar .navbar-toggler img {
    width: 17px;
  }
  .navbar .navbar-brand img {
    width: 200px;
  }
  .navbar .navbar-items i {
    margin: 20px 0;
  }
  .navbar .navbar-items ul li a {
    font-size: 24px;
  }
  .navbar .navbar-items img {
    width: 100%;
  }
  .body__wrapper .header {
    height: 450px;
  }
  .body__wrapper .header .header-logo {
    width: 70%;
  }
  .body__wrapper .header h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .body__wrapper .header .header-peoples {
    display: none;
  }
  .body__wrapper .header .header-content {
    top: 83%;
  }
  .body__wrapper .header .header-content h3 {
    font-size: 30px;
    white-space: nowrap;
    margin-bottom: 15px;
  }
  .body__wrapper .watch {
    padding: 20px 0;
  }
  .body__wrapper .watch h1 {
    font-size: 35px;
  }
  .body__wrapper .watch .video-section {
    margin: 10px auto;
  }
  .body__wrapper .explore-section .content h1,
  .body__wrapper .watch-section .content h1,
  .body__wrapper .learn-section .content h1 {
    font-size: 45px;
    width: 30%;
  }
}

@media (max-width: 400px) {
  .navbar .spacer {
    margin: auto 10px;
    height: 20px;
  }
  .navbar .navbar-brand img {
    width: 180px;
  }
  .body__wrapper .header {
    height: 350px;
  }
  .body__wrapper .header h1 {
    font-size: 32px;
    line-height: 32px;
    margin-top: 7px;
  }
  .body__wrapper .header .header-peoples {
    margin: 20px auto 0 auto;
    width: 100%;
  }
  .body__wrapper .header .header-content {
    top: 80%;
  }
  .body__wrapper .header .header-content h3 {
    font-size: 18px;
    width: 100%;
    white-space: nowrap;
    margin: 10px 0;
  }
  .body__wrapper .header .header-content button {
    font-size: 14px;
    padding: 10px 18px;
    margin: 0;
  }
  .body__wrapper .watch {
    padding: 15px 0;
  }
  .body__wrapper .watch h1 {
    font-size: 32px;
  }
  .body__wrapper .explore-section,
  .body__wrapper .learn-section,
  .body__wrapper .watch-section {
    margin: 40px auto;
  }
}
/*# sourceMappingURL=main.css.map */